/*================================================
Order part scss
=================================================*/
$template_color: #71c21b;
$template_hover_color: #8adb34;
button.order-view_plaintBtn {
    color: $template_color; 
}

.order-view {
   margin-top: 30px;
   &_price {
    margin-top: 40px;
   }
   h5{
       text-align: center;
   }
   h1{
       text-align: center;
   }
   &_hidden {
       visibility: hidden;
   }
   &_image {
       margin-right: 15px;
   }
   &_button {
       position: relative;
       left: 12px;
       width: 90%; 
       text-align: center;
       margin-bottom: 15px;
       border-radius: 10px;
       font: {
        weight: 600;
        size: 12px;
        
       
    }
    border: none;
    padding: 10px 33px;
    line-height: 1.5;
    text-transform: capitalize;


  
    color: #ffffff;
    background-color: $template_color;
    border-color: $template_color;

   }
}  
   
